body
  background: linear-gradient(rgba(30, 18, 36, 0.85), rgba(30, 18, 36, 0.85)), url('../img/action_wise_report.jpeg') no-repeat center center fixed
  background-size: cover
  font-size: 15px
  line-height: 1.7
  font-family: "Montserrat", sans-serif
  color: $color-white
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
