/* Error: There is no module with the namespace "color".
 *    ,
 * 21 | $odoo-primary-light: color.adjust($odoo-primary, $lightness: 10%)
 *    |                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets/css/base/_odoo-vars.sass 21:22  @import
 *   assets/css/main.sass 6:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "color".\a    \2577 \a 21 \2502  $odoo-primary-light: color.adjust($odoo-primary, $lightness: 10%)\a    \2502                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets/css/base/_odoo-vars.sass 21:22  @import\a   assets/css/main.sass 6:9               root stylesheet';
}
